<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid align-items-center">
            <i class="header-brand fa-brands fa-accusoft">&nbsp;
                <strong>Store</strong>
            </i>
            
            <div class="ms-auto p-2">
                <button routerLink="cart" class=" btn btn-outline-dark">
                    <i class="header-brand fas fa-regular fa-cart-shopping"></i>
                    <span class="badge bg-danger">{{totalItem}}</span>
                </button>
            </div>

        </div>
    </nav>
</header>